.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-item {
    display: flex;
    margin-bottom: 15px;
}

.product-image {
    width: 100px;
    height: 100px;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-features {
    flex-direction: column;
    margin: 0 15px;
    flex: 1;
}

.product-features div {
    padding: 5px 0;
}

.product-features div:first-child {
    font-weight: bold;
}

